{% extends "Base.html" %}
{% block title %} Sign in {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/userdashbroad.css')}}">
{% endblock %}
{% block content %}
<body>
<div class="navbox">
        <nav >
            <ul type="none">
                <li>
                    <div class="form_button1">
                        <form action="user_logout" method="post">
                            <button type="submit">Logout</button>
                       </form>
                    </div>
                </li>
                <li>
                    <div class="form_button2">
                        <form action="/myorders" method="post">
                            <button type="submit">My Orders</button>
                       </form>
                    </div>
                </li>
            </ul>
            <div class="user_box">
                {% if user %}
                <ul>
                  <li>Welcome {{user}}</li>
                </ul>
                {% endif %}
            </div>
        </nav>
</div><br>
<div class="right_box">
        <div class="form_box">
            <form action="user_Dashbroad" method="post">
                <label> Table No:
                    <input type="text" name="table_no" required>
                </label>
                <label> Order Description
                    <input type="text" name="order_desc" required>
                </label>
                <label> Number of members
                    <input type="number" name="member" required>
                </label>
                <label> Arrival time
                    <input type="text" name="user_time" required>
                </label>
                <button type="submit">Place Order</button>
            </form>
            {% if error %}
               <div>
                 {{error}}
               </div>
            {% endif %}
       </div>
</div>
    <div class="left_box">
       <div class="content_table">
        <table>
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Food Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for food in food_item %}
                <tr>
                        <td>{{food.food_Id}}</td>
                        <td>{{food.food_item}}</td>
                        <td>{{food.food_price}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       </div>
    </div><br>
    <div class="table_box">
        <div class="box_t">
            <table>
                <thead>
                    <tr>
                        <th>available Tables </th>
                    </tr>
                </thead>
                <tbody>
                        {% for table in table_availiable %}
                        <tr>
                            <td>Table no:{{table.table_no_Id}}</td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}